<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>
  <body>
   
    <main>
      <%- include('../../layout/header') %>

        <% searchResults.forEach( book => { %>

          <%- include('../books/detail', {book}) %>

          <form action="/books" method="post">

            <input type="hidden" name="title" value="<%= book.title%>">
            <input type="hidden" name="author" value="<%= book.author%>">
            <input type="hidden" name="isbn" value="<%= book.isbn%>">
            <input type="hidden" name="image_url" value="<%= book.image_url%>">
            <input type="hidden" name="descriptions" value="<%= book.descriptions%>">

            <button>add to card</button>
          </form>
        <% }) %>
    </main>
    <%- include('../../layout/footer') %>
  </body>
</html>