<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book App</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/modules.css">
</head>
<body>
    <nav>
        <h1>Best Books!</h1>

        <% resulte.forEach( book => { %>
            <img src="<%= book.image_url %>">
            <h3 class="disc"><%= book.title %></h3>
            <h4 class="disc"><%= book.author%></h4>
            <p class="disc"><%= book.descriptions%></p>

        <% }) %>
        <p><%= counter%></p>
    </nav>
    
</body>
</html>